html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@font-face {
    font-family: 'Muller';
    src:
        local("MullerRegular"),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src:
        local("MullerRegularItalic"),
        url('../fonts/MullerRegularItalic.woff2') format('woff2'),
        url('../fonts/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src:
        local("MullerMedium"),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src:
        local("MullerBold"),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

:root {
    --clr-black: #000;
    --clr-blacker: #121723;
    --clr-light-black: #292E39;
    --clr-grey: #D2D5DD;
    --clr-dark-grey: #A1A6B4;
    --clr-light-grey: #E6E8EC;
    --clr-gold: #BB973E;
    --clr-beige: #F0D288;
    --clr-blue: #0039A6;
    --clr-red: #D52B1E;
    --clr-violet-blue: #4F28A5;
    --clr-light-violet-blue: #6D31EE;
    --clr-lighter-violet-blue: #AA9DFA;
    --clr-whiter: #F5F6F7;
    --clr-white: #fff;
}

:root {
    --margin-section: 94px;
    --border-radius-big: 100px;
    --border-radius-medium: 77px;
    --border-radius-regular: 40px;
    --border-radius-small: 30px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--clr-blacker);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button,
input {
    color: var(--clr-blacker);
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding: 25px 54px;
    border-radius: var(--border-radius-regular);
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

/* header */

.header__container {
    margin-top: 30px;
    margin-bottom: 28px;
}

.header__contant {
    position: relative;
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__logo:focus {
    outline: transparent;
}

.header__nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 638px;
    overflow: hidden;
    top: 53%;
    left: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__nav-item {
    margin-right: 39px;
}

.header__nav-link {
    font-size: 20px;
    line-height: 20px;
    padding: 4px 9px;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__nav-link:hover {
    color: var(--clr-light-violet-blue);
}

.header__nav-link:focus {
    outline: transparent;
    color: var(--clr-white);
    background-color: var(--clr-lighter-violet-blue);
}

.header__nav-link:hover {
    color: var(--clr-violet-blue);
    background-color: transparent;
}

.header__btn {
    outline: transparent;
}

.header__btn svg path {
    -webkit-transition: stroke 0.3s ease-in-out;
    -o-transition: stroke 0.3s ease-in-out;
    transition: stroke 0.3s ease-in-out;
}

.header__btn:hover svg path,
.header__btn:focus svg path {
    stroke: var(--clr-lighter-violet-blue);
}

.header__btn:active svg path {
    stroke: var(--clr-violet-blue);
}

/* hero */

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__content {
    max-width: 635px;
    padding: 94px 0;
}

.hero__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 14px;
}

.hero__header-regular {
    font-weight: 400;
    font-style: italic;
    margin-left: 13px;
}

.hero__descr {
    line-height: 24px;
    margin-bottom: 45px;
}

.hero__btn {
    background-color: var(--clr-light-violet-blue);
    color: var(--clr-white);
    -webkit-transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.hero__btn:hover {
    background-color: var(--clr-lighter-violet-blue);
}

.hero__btn:focus {
    outline: 2px solid var(--clr-violet-blue);
    background-color: var(--clr-lighter-violet-blue);
}

.hero__btn:active {
    background-color: var(--clr-violet-blue);
    outline: transparent;
}

.hero__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* podcasts */

.podcasts {
    background-color: var(--clr-light-grey);
}

.podcasts__container {
    padding-top: var(--margin-section);
    padding-bottom: var(--margin-section);
}

.podcasts__header {
    margin-bottom: 30px;
}

.podcasts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}

.podcasts__item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: var(--clr-white);
}

.podcasts__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 15px);
    min-height: 140px;
}

.podcasts-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.podcasts-picture img {
    width: 100%;
    min-width: 112px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.podcasts-content {
    min-width: 428px;
    padding: 40px 30px;
}

.podcasts-content-time {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
}

.podcasts-content-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 4px;
}

.podcasts-content-autor {
    line-height: 16px;
    color: var(--clr-dark-grey);
}

.podcasts__item-date {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 6px;
    background-color: var(--clr-light-grey);
}

/* transfers */

.transfers {
    position: relative;
}

.transfers__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 92px;
}

.transfers__header {
    display: inline-block;
}

.transfers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 825px;
    margin-top: 14px;
    gap: 30px;
}

.transfers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(50% - 15px);
    max-width: 255px;
    min-height: 260px;
}

.transfers__item-bg {
    max-width: 255px;
    min-height: 148px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.transfers__item-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 112px;
    height: 100%;
    padding: 20px 16px 7px 16px;
    border: 1px solid var(--clr-light-grey);
}

.transfers__item-contant-top {
    margin-bottom: 15px;
}

.transfers__item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.transfers__date {
    font-size: 12px;
    line-height: 12px;
    color: var(--clr-dark-grey);
}

.transfers__item-contant-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.transfers__container-archive {
    max-width: 1110px;
    margin: 0 auto;
}

.transfers__archive {
    position: absolute;
    bottom: 0;
    max-width: 255px;
    padding-top: 110px;
    background-image: url(../img/mic.svg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.transfers__archive-btn {
    padding: 9px 50px;
    border: 2px solid var(--clr-blacker);
    margin-bottom: 12px;
    border-radius: var(--border-radius-medium);
    -webkit-transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transfers__archive-btn:hover,
.transfers__archive-btn:focus {
    outline: transparent;
    border: 2px solid var(--clr-light-violet-blue);
    color: var(--clr-light-violet-blue);
}

.transfers__archive-btn:focus {
    border: 2px solid var(--clr-violet-blue);
    color: var(--clr-violet-blue);
}

.transfers__archive-descr {
    line-height: 24px;
    color: var(--clr-dark-grey);
}

.transfers__link {
    font-style: italic;
    padding: 2px;
    margin-top: -2px;
    margin-left: -2px;
    -webkit-transition: color 0.3s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.transfers__link:hover {
    color: var(--clr-light-violet-blue);
}

.transfers__link:focus {
    outline: transparent;
    background-color: var(--clr-lighter-violet-blue);
    color: var(--clr-white);
}

.transfers__link:active {
    color: var(--clr-violet-blue);
    background-color: transparent;
}

.transfers__link svg {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.transfers__link:hover svg {
    -webkit-transform: scaleX(1.5) translateX(4px);
    -ms-transform: scaleX(1.5) translateX(4px);
    transform: scaleX(1.5) translateX(4px);
}

.transfers__link:focus svg {
    -webkit-transform: scaleX(1) translateX(0px);
    -ms-transform: scaleX(1) translateX(0px);
    transform: scaleX(1) translateX(0px);
}

.transfers__link:active svg {
    -webkit-transform: scaleX(1.5) translateX(4px);
    -ms-transform: scaleX(1.5) translateX(4px);
    transform: scaleX(1.5) translateX(4px);
}


.transfers__link svg path {
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.transfers__link:hover svg path {
    fill: var(--clr-light-violet-blue);
}

.transfers__link:focus svg path {
    fill: var(--clr-white);
}

.transfers__link:active svg path {
    fill: var(--clr-violet-blue);
}

#transfers__item-1 .transfers__item-bg {
    background-image: url(../img/transfers-1.jpg);
}

#transfers__item-2 .transfers__item-bg {
    background-image: url(../img/transfers-2.jpg);
}

#transfers__item-3 .transfers__item-bg {
    background-image: url(../img/transfers-3.jpg);
}

#transfers__item-4 .transfers__item-bg {
    background-image: url(../img/transfers-4.jpg);
}

#transfers__item-5 .transfers__item-bg {
    background-image: url(../img/transfers-5.jpg);
}

#transfers__item-6 .transfers__item-bg {
    background-image: url(../img/transfers-6.jpg);
}

/* guests */

.guests {
    background-color: var(--clr-blacker);
    color: var(--clr-dark-grey);
}

.guests__container {
    padding-top: 94px;
    padding-bottom: 45px;
}

.guests__header {
    margin-bottom: 12px;
    color: var(--clr-white);
}

.guests__top {
    max-width: 825px;
    margin-bottom: 50px;
}

.guests__top-descr-header {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.guests__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 920px;
    margin-bottom: 50px;
}

.guests__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-size: cover;
    width: 100%;
    margin-right: 30px;
}

.guests__item-img {
    max-width: 432px;
    -o-object-fit: contain;
    object-fit: contain;
}

.guests__item-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.guests__item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
    color: var(--clr-white);
}

.guests__item-descr {
    line-height: 29px;
}

.guests__item-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 19.5px;
    border: 2px solid var(--clr-lighter-violet-blue);
    color: var(--clr-lighter-violet-blue);
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.guests__item-btn:hover {
    background-color: var(--clr-lighter-violet-blue);
    color: var(--clr-white);
}

.guests__item-btn:focus {
    border: 2px solid var(--clr-light-violet-blue);
    background-color: var(--clr-light-violet-blue);
    color: var(--clr-white);
}

.guests__item-btn:active {
    border: 2px solid var(--clr-violet-blue);
    background-color: var(--clr-violet-blue);
    color: var(--clr-white);
}




/* playlist */

.playlist__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 94px;
    padding-bottom: 95px;
}

.playlist__container-top {
    max-width: 350px;
}

.playlist__top-header {
    margin-bottom: 12px;
    overflow-wrap: anywhere;
}

.playlist__top-descr {
    width: 350px;
    line-height: 22px;
    padding-bottom: 36px;
    color: var(--clr-dark-grey);
    background-image: url(../img/18+.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.playlist__bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 12px;
    gap: 30px;
}

.playlist__bottom-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 160px;
    width: calc(50% - 15px);
}

.playlist__bottom-item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.playlist__bottom-item-contant {
    height: 100%;
    padding: 18px 16px 16px 16px;
    border: 1px solid var(--clr-light-grey);
}

.playlist__bottom-contant-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.playlist__bottom-contant-descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--clr-dark-grey);
}

.playlist__bottom-item-corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
    background-color: var(--clr-blacker);
    background-position: center;
    background-repeat: no-repeat;
}

.corner-ru {
    background-image: url(../img/country-ru.svg);
}

.corner-en {
    background-image: url(../img/country-eng.svg);
}


/* shop */


.shop {
    background-color: var(--clr-light-black);
}

.shop__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 134px;
}

.shop__picture-container {
    position: relative;
    margin-right: 30px;
}

.shop__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.shop__picture img {
    -o-object-position: top;
    object-position: top;
    -o-object-fit: contain;
    object-fit: contain;
}

.shop__picture-new {
    position: absolute;
    width: 26%;
    height: 28%;
    top: -1%;
    left: -0.5%;
    background-image: url(../img/new.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.shop__contant {
    max-width: 445px;
}

.shop__header {
    color: var(--clr-gold);
    padding-bottom: 29px;
    margin-bottom: 19px;
    background-image: url(../img/wave.svg);
    background-repeat: repeat-x;
    background-position-y: bottom;
}

.shop__descr {
    line-height: 29px;
    color: var(--clr-white);
}

.shop__descr.top {
    margin-bottom: 12px;
}

.shop__descr.buttom {
    margin-bottom: 30px;
}

.shop__descr-price {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: var(--clr-white);
}

.shop__btn {
    padding: 21px 9px;
    border: 2px solid var(--clr-beige);
    color: var(--clr-beige);
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.shop__btn svg {
    margin-right: 8px;
}

.shop__btn:hover {
    background-color: var(--clr-beige);
    color: var(--clr-blacker);
}

.shop__btn:focus {
    outline: none;
    background-color: var(--clr-gold);
}

.shop__btn:active {
    background-color: var(--clr-gold);
    border: 2px solid var(--clr-gold);
}

.shop__btn:hover svg g .back {
    fill: var(--clr-blacker);
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.shop__btn:hover svg g .line {
    fill: var(--clr-beige);
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.shop__btn:active svg g .back {
    fill: var(--clr-blacker);
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.shop__btn:active svg g .line {
    fill: var(--clr-gold);
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}





/* about */

.about {
    background-color: var(--clr-blacker);
    color: var(--clr-dark-grey);
}

.about__conatiner {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about__top {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.about__top-svg {
    position: absolute;
    width: 100%;
    top: 0;
    height: 290px;
}

.about__top-svg-1 {
    position: absolute;
    width: calc(100% - 285px);
    top: 0;
    height: 290px;
    background-image: url(../img/spiral.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.about__top-svg-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 290px;
    background-image: url(../img/Dawn.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.about__txt-content {
    max-width: 634px;
}

.about__header {
    color: var(--clr-white);
    margin-bottom: 12px;
}

.about__descr-selection {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}

.about__descr {
    font-size: 20px;
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 28px;
    gap: 30px;
}

.about__item {
    max-width: 255px;
    width: calc(50% - 15px);
}

.about__item-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

.about__item-picture img {
    width: 100%;
    max-width: 255px;
    -o-object-fit: cover;
    object-fit: cover;
}

.about__item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.about__item-descr {
    line-height: 24px;
}

.about__form {
    max-width: 1110px;
}

.about__form-contant {
    max-width: 920px
}

.about__form-item {
    font-size: 20px;
    line-height: 20px;
    border: 1px solid var(--clr-dark-grey);
    border-radius: var(--border-radius-small);
    background-color: transparent;
    color: var(--clr-dark-grey);
}

.about__form-item::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 20px;
}

.about__form-item::-moz-placeholder {
    font-size: 20px;
    line-height: 20px;
}

.about__form-item:-ms-input-placeholder {
    font-size: 20px;
    line-height: 20px;
}

.about__form-item::-ms-input-placeholder {
    font-size: 20px;
    line-height: 20px;
}

.about__form-item::placeholder {
    font-size: 20px;
    line-height: 20px;
}

.about__form-txtarea-container {
    max-height: 150px;
    margin-bottom: 30px;
}

.about .form-txtarea {
    width: 100%;
    height: 150px;
    padding: 30px;
    resize: none;
}

.about__form-item:hover {
    background-color: var(--clr-light-black);
}

.about__form-item:focus {
    outline: none;
    background-color: var(--clr-light-black);
    border: 1px solid var(--clr-lighter-violet-blue);
}

.about__form-item:active {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
}

.about__form-item:active::-webkit-input-placeholder {
    color: var(--clr-white);
}

.about__form-item:active::-moz-placeholder {
    color: var(--clr-white);
}

.about__form-item:active:-ms-input-placeholder {
    color: var(--clr-white);
}

.about__form-item:active::-ms-input-placeholder {
    color: var(--clr-white);
}

.about__form-item:active::placeholder {
    color: var(--clr-white);
}

.about__form-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
}

.form-name,
.form-email {
    width: 100%;
    padding: 24px 32px;
}

.about__form-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.about__form-btn {
    color: var(--clr-white);
    background-color: var(--clr-light-violet-blue);
    margin-bottom: 33px;
    outline: 2px solid transparent;
    -webkit-transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.about__form-btn:hover {
    background-color: var(--clr-lighter-violet-blue);
}

.about__form-btn:focus {
    outline: 2px solid var(--clr-violet-blue);
    background-color: var(--clr-lighter-violet-blue);
}

.about__form-btn:active {
    background-color: var(--clr-violet-blue);
}


.about__form-checkbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--clr-white);
}

.about__form-checkbox-input {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.about__form-checkbox-label {
    margin-left: 22px;
}

.about__form-checkbox-custom {
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--clr-white);
    cursor: pointer;
}

.about__form-checkbox-custom::after {
    display: none;
    content: '';
    position: absolute;
    left: 1px;
    top: 2px;
    width: 10px;
    height: 10px;
    background-image: url(../img/checkmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.about__form-checkbox-input:checked~.about__form-checkbox-custom::after {
    display: block;
}

.about__form-txtarea-container {
    position: relative;
}

.about__form-label {
    position: relative;
    width: 100%;
}

.just-validate-error-label {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 12px;
    line-height: 12px;
}

.about__form-btn-container .just-validate-error-label {
    display: none;
}

.invalid+.about__form-checkbox-custom {
    border: 1px solid #D52B1E;
}

.invalid {
    border: 1px solid #D52B1E;
    color: white;
}

.just-validate-success-field {
    border: 1px solid white;
    color: white;
}


/* footer */


.footer {
    background-color: var(--clr-light-black);
    background-image: url(../img/wave.svg);
    background-position-x: -10px;
    background-repeat: repeat-x;
    background-position-y: 90%;
}

.footer__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 125px;
}

.footer__links-logo {
    display: block;
    width: 160px;
    margin-bottom: 9px;
}

.footer__links-logo:focus {
    outline: transparent;
}

.footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 114px;
    height: 36px;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__icons-link:focus {
    outline: transparent;
}

.footer__icons-link svg path,
.footer__icons-link svg g path {
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
}

.footer__icons-link:hover svg path,
.footer__icons-link:hover svg g path {
    fill: var(--clr-light-violet-blue);
}

.footer__icons-link:focus svg path,
.footer__icons-link:focus svg g path {
    fill: var(--clr-lighter-violet-blue);
}

.footer__icons-link:active svg path,
.footer__icons-link:active svg g path {
    fill: var(--clr-violet-blue);
}

.footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    width: 100%;
    max-height: 139px;
    margin-top: -8px;
    color: var(--clr-white);
    -webkit-column-gap: 109px;
    -moz-column-gap: 109px;
    column-gap: 109px;
    row-gap: 5px;
}

.footer__nav-item {
    max-width: 195px;
}

.footer__nav-item-link {
    padding: 2px;
    margin: -2px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.footer__nav-item-link:hover {
    color: var(--clr-light-violet-blue);
}

.footer__nav-item-link:focus {
    outline: none;
    background-color: var(--clr-lighter-violet-blue);
    color: var(--clr-white);
}

.footer__nav-item-link:active {
    background-color: transparent;
    color: var(--clr-violet-blue);
}

.footer__reg {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    line-height: 17px;
    color: var(--clr-dark-grey);
}